{% extends "matches/layout.html" %}

{% block title %}Score Board{% endblock %}

{% block head %}
	{{ super() }}
	{% assets filters="cssmin", output="gen/cricket.css", "stylesheets/cricket.css" %}
		<link href="{{ ASSET_URL }}" rel="stylesheet">
	{% endassets %}
	<link href="/matches/modes/cricket/styles.css" rel="stylesheet">
{% endblock %}

{% block body %}

	<div class="score-board">

		<div class="teams">

			<div class="game-option">
				<span class="target miss">
					<span class="default">Miss</span>
					<span class="active">Great!</span>
				</span>
			</div>

			{% set teamOrder = 0 %}
			{% for team in match["teams"] %}

				<div class="players" data-teamid="{{ team.id }}" data-wins="" data-order="{{ teamOrder }}">
					<div class="player-table">
						<div class="player-row" data-teamid="{{ team.id }}">

							{% set playerOrder = 0 %}
							{% for player in team["players"] %}

								<div class="player {% if player.id == match.turn %}active{% endif %}" data-playerid="{{ player.id }}" data-teamid="{{ team.id }}" data-order="{{ playerOrder }}">

									<div class="marks-per-round">
										<div class="value">
											<span class="rnd">1:</span>
											<span class="val r1">{% if match.game >= 1 %}{{ player.mpr1 }}{% else %}-{% endif %}</span>
										</div>
										{% if match.numGames >= 2 %}
											<div class="value">
												<span class="rnd">2:</span>
												<span class="val r2">{% if match.game >= 2 %}{{ player.mpr2 }}{% else %}-{% endif %}</span>
											</div>
										{% endif %}
										{% if match.numGames >= 3 %}
											<div class="value">
												<span class="rnd">3:</span>
												<span class="val r3">{% if match.game >= 3 %}{{ player.mpr3 }}{% else %}-{% endif %}</span>
											</div>
										{% endif %}
										{% if match.numGames >= 4 %}
											<div class="value">
												<span class="rnd">4:</span>
												<span class="val r4">{% if match.game >= 4 %}{{ player.mpr4 }}{% else %}-{% endif %}</span>
											</div>
										{% endif %}
										{% if match.numGames >= 5 %}
											<div class="value">
												<span class="rnd">5:</span>
												<span class="val r5">{% if match.game >= 5 %}{{ player.mpr5 }}{% else %}-{% endif %}</span>
											</div>
										{% endif %}
										<div class="value">
											<span class="rnd">G:</span>
											<span class="val all">{{ player.mpr }}</span>
										</div>
									</div>
									<div class="initial">{{ player.name[:1] }}</div>
									<div class="name">{{ player.name }}</div>

								</div>

								{% set playerOrder = playerOrder + 1 %}
							{% endfor %}

						</div>
					</div>
				</div>

				{% set teamOrder = teamOrder + 1 %}
			{% endfor %}

		</div>

		{% for point in match["points"] %}

			<div class="points">
				<div class="point-value" data-points="{{ point }}">{{ point }}</div>

				{% for team in match["teams"] %}
					<div class="target awarded mark-style-{{ markStyle.id }}" data-teamid="{{ team.id }}" data-points="{{ point }}" data-hits="{{ team["marks"][point] }}">
						<span class="mark-counter" data-points="{{ point }}"></span>
					</div>
				{% endfor %}

			</div>

		{% endfor %}

		<div class="points">
			<div class="point-value" data-points="25">B</div>
			{% for team in match["teams"] %}
				<div class="target awarded mark-style-{{ markStyle.id }}" data-teamid="{{ team.id }}" data-points="25" data-hits="{{ team["marks"][25] }}">
					<span class="mark-counter" data-points="25"></span>
				</div>
			{% endfor %}
		</div>

		<div class="scores">
			<div class="game-option">
				<span class="target undo">Undo</span>
			</div>

			{% for team in match["teams"] %}
				<div class="score" data-teamid="{{ team.id }}" data-score="{{ team["marks"]["points"] }}">
					<span class="button-label"></span>
					<span class="time-label"></span>

					<div class="score-row">
						<div class="round-scores">
							{% for i in range(0, match["numGames"] - 1) %}
								{% set game = match["games"][i] %}
								<span class="round-score">
									<label>R{{ (i + 1) }}:</label>
									{% if team.id == game.winner %}
										{{ game["winnerScore"] }}
									{% elif team.id == game.loser %}
										{{ game["loserScore"] }}
									{% else %}
										-
									{% endif %}

									{% if team.id == game.winner %}
										W
									{% endif %}
									{% if team.id == game.loser  %}
										L
									{% endif %}
								</span>
							{% endfor %}
						</div>
						<div class="current-round-points games-{{ match.numGames }}">
							{{ team["marks"]["points"] }}
						</div>
					</div>

				</div>
			{% endfor %}
		</div>

	</div>

	<input type="hidden" name="matchId" value="{{ match.id }}" />
	<input type="hidden" name="games" value="{{ match.numGames }}" />
	<input type="hidden" name="game" value="{{ match.game }}" />
	<input type="hidden" name="round" value="{{ match.round }}" />
	<input type="hidden" name="players" value="{{ match.players }}" />
	<input type="hidden" name="turn" value="{{ match.turn }}" />
	<input type="hidden" name="complete" value="{{ match.complete }}" />
	<input type="hidden" name="createdAt" value="{{ match.createdAt }}" />
	<input type="hidden" name="markStyleId" value="{{ markStyle.id }}" />
	<input type="hidden" name="markStyleIds" value="{{ markStyleIds }}" />

	{% for gameItem in match["games"] %}
		<input
			type="hidden"
			name="result"
			data-game="{{ gameItem.game }}"
			data-winner="{{ gameItem.winner }}"
			data-loser="{{ gameItem.loser }}"
			data-winnerScore="{{ gameItem.winnerScore }}"
			data-loserScore="{{ gameItem.loserScore }}"
		/>
	{% endfor %}

	<div class="modal-box modal-next-round">
		<h1>{message}</h1>

		<div class="button-group">
			<form action="/matches/{{ match.id }}/modes/cricket/next/" method="POST">
				<button class="btn btn-default btn-lg btn-block btn-next-round">
					Next Round
				</button>
			</form>

			<br />

			<form action="/matches/{{ match.id }}/modes/cricket/again/" method="POST">
				<input type="hidden" name="games" value="{{ match.numGames }}" />
				<button class="btn btn-default btn-lg btn-block btn-next-round hidden">
					Play Again
				</button>
			</form>
			<form action="/matches/{{ match.id }}/modes/cricket/again/" method="POST">
				<input type="hidden" name="games" value="1" />
				<button class="btn btn-default btn-lg btn-block btn-next-round hidden">
					Best of 1
				</button>
			</form>
			<form action="/matches/{{ match.id }}/modes/cricket/again/" method="POST">
				<input type="hidden" name="games" value="3" />
				<button class="btn btn-default btn-lg btn-block btn-next-round hidden">
					Best of 3
				</button>
			</form>
			<form action="/matches/{{ match.id }}/modes/cricket/again/" method="POST">
				<input type="hidden" name="games" value="5" />
				<button class="btn btn-default btn-lg btn-block btn-next-round hidden">
					Best of 5
				</button>
			</form>

			<br />

			<button class="btn btn-default btn-lg btn-block btn-stats-show hidden">
				Stats
			</button>
		</div>
	</div>

	<div class="modal-box modal-home">
		<h1>Are you sure you want to quit this match?</h1>

		<div class="button-group">
			<a class="btn btn-default btn-lg home-yes">Yes</a>
			<a class="btn btn-default btn-lg home-no">No</a>
		</div>
	</div>

	<div class="modal-box modal-stats">
		<h1>Mark Stats</h1>
		<div class="modal-stats-container">
			<ul class="nav nav-tabs">
				<li role="presentation" class="active" data-tab="match-stats">Total Marks</li>
				<li role="presentation" data-tab="match-graphs">Marks per Round Graphs</li>
			</ul>
			<div data-tab-id="match-stats" class="match-stats-container"></div>
			<div data-tab-id="match-graphs" class="match-graphs-container"></div>
		</div>
		<div class="stats-btn-container">
			<button class="btn btn-default btn-lg btn-block btn-stats-done">Done</button>
		</div>
	</div>

{% endblock %}

{% block footer %}
	{{ super() }}
	{% assets filters="jsmin", output="gen/cricket-board.js", "https://www.gstatic.com/charts/loader.js", "javascripts/modes/cricket/board.js", "javascripts/modes/cricket/charts.js" %}
		<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}
